DATABASE_URL=postgres://postgres:12345678@127.0.0.1:5432/tylex_cms
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,*.localhost,d6d3-182-180-169-181.ngrok-free.app
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=499ecb44d75c05
EMAIL_HOST_PASSWORD=d11f47f7c67a56
DEFAULT_FROM_EMAIL=HY Florist <noreply@yourdomain.com>
CORS_ALLOWED_ORIGINS=http://localhost:3000,https://c320-175-107-239-30.ngrok-free.app
CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://c320-175-107-239-30.ngrok-free.app
